@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500&display=swap");

$color-background: #ffe8d6;

$color-font-base: #7f5539;
$color-font-link: #6b705c;

$color-spinner: #7f5539;
$color-border: #ddbea9;

$border-radius-base: 3px;

$navbar-width: 220px;

html {
  font-size: 16px;
}

body {
  font-family: "Recursive", sans-serif;
  background-color: $color-background;
  margin: 0;
  color: $color-font-base;
  line-height: 1.668;
  height: 100vh;
  cursor: default;
}

.hero-loader {
  width: 100wh;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  &__spinner {
    width: 24px;
    height: 24px;
    border: 2px solid $color-spinner;
    border-radius: 12px;
    display: inline-block;
  }
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.layout {
  display: flex;

  &__navbar {
    margin-right: 1rem;
  }

  &__content {
    width: 640px;
    flex: 1;
    box-sizing: border-box;
    border: 2px dashed $color-border;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    padding: 1rem;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  width: $navbar-width;

  &__title {
    color: #a5a58d;
    font-style: italic;
    font-weight: 300;
  }

  &__item,
  &__title {
    display: flex;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-text {
    display: flex-inline;
    color: $color-font-link;

    &--active {
      background-color: $color-font-link;
      border-radius: $border-radius-base;
      color: #fefae0;
    }
  }
}